@model IEnumerable<MVC_Element_List_Testing.Models.Section>
@{
    ViewBag.Title = "Home Page";
}

<head>
</head>

<div class="row">
    <div class="col-sm-3">
        <img src="https://via.placeholder.com/150x150" type="text/javascript" />
    </div>

    <div class="col-sm-9">
        <!-- BASIC INFORMATION FORM -->
        <div class="row">
            <h3>Basic Information</h3>
            <form>
                <div class="col-sm-6">
                    <label>First Name</label>
                </div>
                <div class="col-sm-6">
                    <input />
                </div>
            </form>
            <form>
                <div class="col-sm-6">
                    <label>Middle Name</label>
                </div>
                <div class="col-sm-6">
                    <input />
                </div>
            </form>
            <form>
                <div class="col-sm-6">
                    <label>Surname</label>
                </div>
                <div class="col-sm-6">
                    <input />
                </div>
            </form>
            <form>
                <div class="col-sm-6">
                    <label>Regiment Number</label>
                </div>
                <div class="col-sm-6">
                    <input />
                </div>
            </form>
            <form>
                <div class="col-sm-6">
                    <label>Unit/Battalion</label>
                </div>
                <div class="col-sm-6">
                    <input />
                </div>
            </form>
            <form>
                <div class="col-sm-6">
                    <label>Date of Birth</label>
                </div>
                <div class="col-sm-6">
                    <input />
                </div>
            </form>
            <form>
                <div class="col-sm-6">
                    <label>Occupation</label>
                </div>
                <div class="col-sm-6">
                    <input />
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">

    @foreach (var s in Model)
    {
        <section id="Section @s.Id">
            <p>@s.Title</p>
        </section>
        foreach (var c in s.Contents)
        {
        <section id="Content @c.Id">
            <p>@c.Title</p>
        </section>
        }
        using (Html.BeginForm("AddContent", "Home"))
        {
            <input type="text" id="content-name" placeholder="Content Name" />
            <button type="submit">Add Content</button>
        }
    }
    <h3>Section Creator</h3>

    @* auto generate ID code here *@
    @using (Html.BeginForm("AddSection", "Home"))
    {
        @Html.LabelFor(s => s.First().Id)
        @Html.TextBoxFor(s => s.First().Id)

        @Html.LabelFor(s => s.First().Title)
        @Html.TextBoxFor(s => s.First().Title)

        @Html.LabelFor(s => s.First().Approved)
        @Html.TextBoxFor(s => s.First().Approved)

        @Html.LabelFor(s => s.First().DisplayPosition)
        @Html.TextBoxFor(s => s.First().DisplayPosition)

        <button type="submit">Add Section</button>
    }

</div>