@using MVC_Element_List_Testing.Models;
@model MVC_Element_List_Testing.Models.PortfolioCreationViewModel
@section Scripts
{
    <script src="@Url.Content("~/Scripts/content-form.js")"></script>
}
@{
    ViewBag.Title = "Home Page";
}

<head>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/content-form.js")"></script>
</head>

<div class="row">
    <div class="col-sm-3">
        <img src="https://via.placeholder.com/150x150" type="text/javascript" />
    </div>

    <div class="col-sm-9">
        <!-- BASIC INFORMATION FORM -->
        <div class="row">
            <h3>Basic Information</h3>
            <form>
                <div class="col-sm-6">
                    <label>First Name</label>
                </div>
                <div class="col-sm-6">
                    <input />
                </div>
            </form>
            <form>
                <div class="col-sm-6">
                    <label>Middle Name</label>
                </div>
                <div class="col-sm-6">
                    <input />
                </div>
            </form>
            <form>
                <div class="col-sm-6">
                    <label>Surname</label>
                </div>
                <div class="col-sm-6">
                    <input />
                </div>
            </form>
            <form>
                <div class="col-sm-6">
                    <label>Regiment Number</label>
                </div>
                <div class="col-sm-6">
                    <input />
                </div>
            </form>
            <form>
                <div class="col-sm-6">
                    <label>Unit/Battalion</label>
                </div>
                <div class="col-sm-6">
                    <input />
                </div>
            </form>
            <form>
                <div class="col-sm-6">
                    <label>Date of Birth</label>
                </div>
                <div class="col-sm-6">
                    <input />
                </div>
            </form>
            <form>
                <div class="col-sm-6">
                    <label>Occupation</label>
                </div>
                <div class="col-sm-6">
                    <input />
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">

    @*Loop through Sections in Model and display*@
    @for (int s = 0; s < Model.Sections.Count; s++)
    {
        <section id="section" class="section">
            <p>@Model.Sections.ElementAt(s).Title</p>

            @*Loop through Contents in Sections and display*@
            @for (int c = 0; c < @Model.Sections.ElementAt(s).Contents.Count; c++)
            {
                int a = 0;
                <section id="content-@Model.Sections.ElementAt(s).Contents.ElementAt(c).Id" class="content">
                    @using (Html.BeginForm("DeleteContent", "Home"))   
                    {

                        <div class="form-group">
                            @Html.HiddenFor(section => section.Sections.ElementAt(s).Contents.ElementAt(c).Id)
                            @Html.HiddenFor(section => section.Sections.ElementAt(s).Contents.ElementAt(c).SectionId)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(section => section.Sections.ElementAt(s).Contents.ElementAt(c).Title)
                            @Html.TextBoxFor(section => section.Sections.ElementAt(s).Contents.ElementAt(c).Title)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(section => section.Sections.ElementAt(s).Contents.ElementAt(c).Date)
                            @Html.TextBoxFor(section => section.Sections.ElementAt(s).Contents.ElementAt(c).Date)
                        </div>
                        <div class="form-group" id="type">
                            @Html.LabelFor(section => section.Sections.ElementAt(s).Contents.ElementAt(c).Type)
                            @Html.TextBoxFor(section => section.Sections.ElementAt(s).Contents.ElementAt(c).Type)
                        </div>
                        <div class="hidden" id="type2-@a"><input /></div>
                        <div class="form-group">
                            @Html.LabelFor(section => section.Sections.ElementAt(s).Contents.ElementAt(c).Source)
                            @Html.TextBoxFor(section => section.Sections.ElementAt(s).Contents.ElementAt(c).Source)
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(section => section.Sections.ElementAt(s).Contents.ElementAt(c).DisplayPosition)
                            @Html.TextBoxFor(section => section.Sections.ElementAt(s).Contents.ElementAt(c).DisplayPosition)
                        </div>
                        <button type="submit">Delete Content</button>
                    }
                </section>
                a++;
            }

            @* Form for adding content to a section *@
            @using (Html.BeginForm("AddContent", "Home"))
            {
                @Html.HiddenFor(section => section.content.Id)

                @Html.HiddenFor(section => section.content.SectionId, new { Value = Model.Sections.ElementAt(s).Id })

                <div class="form-group">
                    @Html.LabelFor(section => section.content.Title)
                    @Html.TextBoxFor(section => section.content.Title, new { Value = "" })
                </div>

                <button type="submit">Add Content</button>
            }
        </section>

    }
    <h3>Section Creator</h3>

    @* auto generate ID code here *@
    @using (Html.BeginForm("AddSection", "Home"))
    {

        @Html.HiddenFor(s => s.section.Id)

        @Html.LabelFor(s => s.section.Title)
        @Html.TextBoxFor(s => s.section.Title)

        @Html.LabelFor(s => s.section.Approved)
        @Html.TextBoxFor(s => s.section.Approved)

        @Html.LabelFor(s => s.section.DisplayPosition)
        @Html.TextBoxFor(s => s.section.DisplayPosition)

        <button type="submit">Add Section</button>
    }

</div>