@using MVC_Element_List_Testing.Models;
@model List<MVC_Element_List_Testing.Models.Section>
@{
    ViewBag.Title = "Home Page";
}

<head>
</head>

<div class="row">
    <div class="col-sm-3">
        <img src="https://via.placeholder.com/150x150" type="text/javascript" />
    </div>

    <div class="col-sm-9">
        <!-- BASIC INFORMATION FORM -->
        <div class="row">
            <h3>Basic Information</h3>
            <form>
                <div class="col-sm-6">
                    <label>First Name</label>
                </div>
                <div class="col-sm-6">
                    <input />
                </div>
            </form>
            <form>
                <div class="col-sm-6">
                    <label>Middle Name</label>
                </div>
                <div class="col-sm-6">
                    <input />
                </div>
            </form>
            <form>
                <div class="col-sm-6">
                    <label>Surname</label>
                </div>
                <div class="col-sm-6">
                    <input />
                </div>
            </form>
            <form>
                <div class="col-sm-6">
                    <label>Regiment Number</label>
                </div>
                <div class="col-sm-6">
                    <input />
                </div>
            </form>
            <form>
                <div class="col-sm-6">
                    <label>Unit/Battalion</label>
                </div>
                <div class="col-sm-6">
                    <input />
                </div>
            </form>
            <form>
                <div class="col-sm-6">
                    <label>Date of Birth</label>
                </div>
                <div class="col-sm-6">
                    <input />
                </div>
            </form>
            <form>
                <div class="col-sm-6">
                    <label>Occupation</label>
                </div>
                <div class="col-sm-6">
                    <input />
                </div>
            </form>
        </div>
    </div>
</div>
<div class="row">

    // Loop through Sections in Model and display
    @for(int s = 0; s < Model.Count; s++)
    {
    <section id="Section @Model.ElementAt(s).Id">
        <p>@Model.ElementAt(s).Title</p>

        @* Loop through Contents in each Section and display *@
        @for (int c = 0; c < @Model.ElementAt(s).Contents.Count; c++)
        {
            <section id="Content @Model.ElementAt(s).Contents.ElementAt(c).Id">
                @Html.HiddenFor(section => section.ElementAt(s).Contents.ElementAt(c).Id)
                @Html.HiddenFor(section => section.ElementAt(s).Contents.ElementAt(c).SectionId)
                @Html.LabelFor(section => section.ElementAt(s).Contents.ElementAt(c).Title)
                @using (Html.BeginForm("DeleteContent", "Home"))
                {
                    <button type="submit">Delete Content</button>
                }
            </section>
        }
    </section>
            
        using (Html.BeginForm("AddContent", "Home"))
        {
            @Html.LabelFor(section => section.First().Contents.First().Id)
            @Html.TextBoxFor(section => section.First().Contents.First().Id)

            @Html.LabelFor(section => section.First().Contents.First().SectionId)
            @Html.TextBoxFor(section => section.First().Contents.First().SectionId)

            @Html.LabelFor(section => section.First().Contents.First().Title)
            @Html.TextBoxFor(section => section.First().Contents.First().Title)

            @*
                @Html.LabelFor(section => section.First().Contents.First().Date)
                @Html.TextBoxFor(section => section.First().Contents.First().Date)

                @Html.LabelFor(section => section.First().Contents.First().Type)
                @Html.TextBoxFor(section => section.First().Contents.First().Type)

                @Html.LabelFor(section => section.First().Contents.First().Source)
                @Html.TextBoxFor(section => section.First().Contents.First().Source)

                @Html.LabelFor(section => section.First().Contents.First().DisplayPosition)
                @Html.TextBoxFor(section => section.First().Contents.First().DisplayPosition)
            *@
            <button type="submit">Add Content</button>

        }
    }
    <h3>Section Creator</h3>

    @* auto generate ID code here *@
    @using (Html.BeginForm("AddSection", "Home"))
    {
        @Html.LabelFor(s => s.First().Id)
        @Html.TextBoxFor(s => s.First().Id)

        @Html.LabelFor(s => s.First().Title)
        @Html.TextBoxFor(s => s.First().Title)

        @Html.LabelFor(s => s.First().Approved)
        @Html.TextBoxFor(s => s.First().Approved)

        @Html.LabelFor(s => s.First().DisplayPosition)
        @Html.TextBoxFor(s => s.First().DisplayPosition)

        <button type="submit">Add Section</button>
    }

</div>